
<head>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
let btn = document.getElementById("do-it");
let div = document.getElementById("json-buddy");
console.log(div);
console.log(btn);
let li = document.createElement("p");
console.log(li);
li.innerHTML = "You did it!";
div.addEventListener("click", () => {
  div.appendChild(li);
});
})
</script>
</head>
<body>
  <h2>You're done JSON.</h2>
  <div id="json-buddy">
    <input id="do-it" type="submit" name="" value="DO IT!">
  </div>
  <h3>I got your back AJAX</h3>
</body>
